@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">Connected Devices</div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="deviceList"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div>
    <input id="fileNameInput" type="text" />
    <button id="broadcastAudioButton" type="button">Broadcast Audio</button>
</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/devices.js"></script>
